/dts-v1/;

/ {
  #address-cells = <2>;
  #size-cells = <2>;
  compatible = "ucbbar,spike-bare-dev";
  model = "ucbbar,spike-bare";
  misc-options {
       image_download_link = "testio";
  };
  chosen {
       bootargs = "console=ttyS0,1500000n8 earlyprintk";
       stdout-path = &uart1;
  };
  cpus {
    #address-cells = <1>;
    #size-cells = <0>;
    timebase-frequency = <1000000000>;
    CPU0: cpu@0 {
      device_type = "cpu";
      reg = <0>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdc";
      mmu-type = "riscv,sv39";
      clock-frequency = <1000000000>;
      CPU0_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
    CPU1: cpu@1 {
      device_type = "cpu";
      reg = <1>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdc";
      mmu-type = "riscv,sv39";
      clock-frequency = <1000000000>;
      CPU1_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
    CPU2: cpu@2 {
      device_type = "cpu";
      reg = <2>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdc";
      mmu-type = "riscv,sv39";
      clock-frequency = <1000000000>;
      CPU2_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
    CPU3: cpu@3 {
      device_type = "cpu";
      reg = <3>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdc";
      mmu-type = "riscv,sv39";
      clock-frequency = <1000000000>;
      CPU3_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
  };
  memory@80000000 {
    device_type = "memory";
    reg = <0x0 0x80000000 0x0 0x80000000>;
  };
  soc {
    #address-cells = <2>;
    #size-cells = <2>;
    compatible = "ucbbar,spike-bare-soc", "simple-bus";
    ranges;
    plic0: interrupt-controller@500000 {
      #interrupt-cells = <1>;
      compatible = "rivai,plic-1.0.0";
      interrupt-controller;
      regs_base = <0x118 0x0 0x230 0x348>;
      reg = <0x0 0x500000 0x0 0x400>;
      riscv,ndev = <35>;
    };
    uart1: dw-apb-uart@1401800 {
      compatible = "snps,dw-apb-uart";
      reg = <0x0 0x1401800 0x0 0x400>;
      interrupt-parent = <&plic0>;
      interrupts = <6>;
      clock-frequency = <1000000000>;
      baud = <1500000>;
      reg-shift = <2>;
      reg-io-width = <4>;
      console;
    };
    usb0: usb3@700000 {
      compatible = "snps,dwc3";
      reg = <0x0 0x700000 0x0 0x100000>;
      interrupt-parent = <&plic0>;
      interrupts = <25>;
      dr_mode = "peripheral";
      maximum-speed = "super-speed";
      snps,incr-burst-type-adjustment = <4>;
    };
    dma: dma@500000 {
      #interrupt-cells = <1>;
      compatible = "adi,axi-dmac-1.00.a";
      reg = <0x0 0x500000 0x0 0x600>;
      interrupt-parent = <&plic0>;
      interrupts = <31 32>;

      #dma-cells = <1>;
        adi,channels {
       #size-cells = <0>;
       #address-cells = <1>;
       dma-channel@0 {
               reg = <0>;
               adi,source-bus-width = <32>;
               adi,source-bus-type = <2>;
               adi,destination-bus-width = <32>;
               adi,destination-bus-type = <0>;
       };
       };
    };
    rivai_fake_codec: codec@20000000 {
        #sound-dai-cells = <0>;
      #interrupt-cells = <1>;
      compatible = "rivai-fake-codec";
      reg = <0x0 0x20000000 0x0 0x4>;
      interrupt-parent = <&plic0>;

      bus-width = <4>;
    };
    i2srx0: i2srx@1402800 {
      #sound-dai-cells = <1>;
      #interrupt-cells = <1>;
      compatible = "snps,designware-i2s";
      reg = <0x0 0x1402800 0x0 0x400>;
      dmas = <&dma 0>;
      dma-names = "rx";
    };
    clint@800000 {
      compatible = "riscv,clint0";
      interrupts-extended = <&CPU0_intc 3 &CPU0_intc 7 &CPU1_intc 3 &CPU1_intc 7 &CPU2_intc 3 &CPU2_intc 7 &CPU3_intc 3 &CPU3_intc 7 >;
      reg = <0x0 0x800000 0x0 0xc0000>;
    };
  };
  htif {
    compatible = "ucb,htif0";
  };
 sound {
    compatible = "simple-audio-card";
    simple-audio-card,name = "rivai-soundcard";
    simple-audio-card,format = "i2s";
    simple-audio-card,cpu {
            sound-dai = <&i2srx0 0>;
    };
    dailink0_master: simple-audio-card,codec {
    sound-dai = <&rivai_fake_codec>;
    };
  };
};
